
// Aileron font & variations
// 400, Regular
@font-face {
    font-family: 'Aileron';
    src: url('./fonts/aileron-regular-webfont.woff2') format('woff2'),
         url('./fonts/aileron-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron';
    src: url('./fonts/aileron-italic-webfont.woff2') format('woff2'),
         url('./fonts/aileron-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

// 100, Ultralight
@font-face {
    font-family: 'Aileron';
    src: url('./fonts/aileron-ultralight-webfont.woff2') format('woff2'),
         url('./fonts/aileron-ultralight-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}
@font-face {
    font-family: 'Aileron';
    src: url('./fonts/aileron-ultralightitalic-webfont.woff2') format('woff2'),
         url('./fonts/aileron-ultralightitalic-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

// 200, Thin
@font-face {
    font-family: 'Aileron';
    src: url('./fonts/aileron-thin-webfont.woff2') format('woff2'),
         url('./fonts/aileron-thin-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;

}
@font-face {
    font-family: 'Aileron';
    src: url('./fonts/aileron-thinitalic-webfont.woff2') format('woff2'),
         url('./fonts/aileron-thinitalic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

// 300, Light
@font-face {
    font-family: 'Aileron';
    src: url('./fonts/aileron-light-webfont.woff2') format('woff2'),
         url('./fonts/aileron-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'Aileron';
    src: url('./fonts/aileron-lightitalic-webfont.woff2') format('woff2'),
         url('./fonts/aileron-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

// 500, Semibold
@font-face {
    font-family: 'Aileron';
    src: url('./fonts/aileron-semibold-webfont.woff2') format('woff2'),
         url('./fonts/aileron-semibold-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}
@font-face {
    font-family: 'Aileron';
    src: url('./fonts/aileron-semibolditalic-webfont.woff2') format('woff2'),
         url('./fonts/aileron-semibolditalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;

}
// 600, Bold
@font-face {
    font-family: 'Aileron';
    src: url('./fonts/aileron-bold-webfont.woff2') format('woff2'),
         url('./fonts/aileron-bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}
@font-face {
    font-family: 'Aileron';
    src: url('./fonts/aileron-bolditalic-webfont.woff2') format('woff2'),
         url('./fonts/aileron-bolditalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;

}

// 700, Heavy
@font-face {
    font-family: 'Aileron';
    src: url('./fonts/aileron-heavy-webfont.woff2') format('woff2'),
         url('./fonts/aileron-heavy-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Aileron';
    src: url('./fonts/aileron-heavyitalic-webfont.woff2') format('woff2'),
         url('./fonts/aileron-heavyitalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;

}

// 800, Black
@font-face {
    font-family: 'Aileron';
    src: url('./fonts/aileron-black-webfont.woff2') format('woff2'),
         url('./fonts/aileron-black-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron';
    src: url('./fonts/aileron-blackitalic-webfont.woff2') format('woff2'),
         url('./fonts/aileron-blackitalic-webfont.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}
