
// Aileron font & variations
// 400, Regular
@font-face {
    font-family: 'Aileron';
    src: url('aileron-regular-webfont.woff2') format('woff2'),
         url('aileron-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron';
    src: url('aileron-italic-webfont.woff2') format('woff2'),
         url('aileron-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic, oblique;
}

// 100, Ultralight
@font-face {
    font-family: 'Aileron';
    src: url('aileron-ultralight-webfont.woff2') format('woff2'),
         url('aileron-ultralight-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}
@font-face {
    font-family: 'Aileron';
    src: url('aileron-ultralightitalic-webfont.woff2') format('woff2'),
         url('aileron-ultralightitalic-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic, oblique;
}

// 200, Thin
@font-face {
    font-family: 'Aileron';
    src: url('aileron-thin-webfont.woff2') format('woff2'),
         url('aileron-thin-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;

}
@font-face {
    font-family: 'Aileron';
    src: url('aileron-thinitalic-webfont.woff2') format('woff2'),
         url('aileron-thinitalic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic, oblique;
}

// 300, Light
@font-face {
    font-family: 'Aileron';
    src: url('aileron-light-webfont.woff2') format('woff2'),
         url('aileron-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'Aileron';
    src: url('aileron-lightitalic-webfont.woff2') format('woff2'),
         url('aileron-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic, oblique;
}

// 500, Semibold
@font-face {
    font-family: 'Aileron';
    src: url('aileron-semibold-webfont.woff2') format('woff2'),
         url('aileron-semibold-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}
@font-face {
    font-family: 'Aileron';
    src: url('aileron-semibolditalic-webfont.woff2') format('woff2'),
         url('aileron-semibolditalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic, oblique;

}
// 600, Bold
@font-face {
    font-family: 'Aileron';
    src: url('aileron-bold-webfont.woff2') format('woff2'),
         url('aileron-bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}
@font-face {
    font-family: 'Aileron';
    src: url('aileron-bolditalic-webfont.woff2') format('woff2'),
         url('aileron-bolditalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic, oblique;

}

// 700, Heavy
@font-face {
    font-family: 'Aileron';
    src: url('aileron-heavy-webfont.woff2') format('woff2'),
         url('aileron-heavy-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Aileron';
    src: url('aileron-heavyitalic-webfont.woff2') format('woff2'),
         url('aileron-heavyitalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic, oblique;

}

// 800, Black
@font-face {
    font-family: 'Aileron';
    src: url('aileron-black-webfont.woff2') format('woff2'),
         url('aileron-black-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}
@font-face {
    font-family: 'Aileron';
    src: url('aileron-blackitalic-webfont.woff2') format('woff2'),
         url('aileron-blackitalic-webfont.woff') format('woff');
    font-weight: 800;
    font-style: italic, oblique;
}
